*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color:rgb(51, 51, 51);
    color:rgb(188, 71, 71);
}

.container{
    max-width: 1200px;
    margin: 0;
    padding: 0 1.5rem;
}
a{
    text-decoration:none;
    color:var(--primary-color);
    transition:color 0.3s ease;
}
a:hover{
    color:rgb(255, 62, 62)
}
.header{
    background-color: var(--background-dark);
    color:var(--text-light);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: black
}